header {
  border-top: 3px solid #cc3333;
  .upper-header {
    background-color: #2a2b2c;
    .upper-header-content {
      height: 32px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: 964px;
      margin: 0 auto;
      .social-icons {
        display: flex;
        flex-direction: row;
        a {
          text-decoration: none;
          list-style: none;
          color: #000000;
          i {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            border-radius: 50%;
            width: 23px;
            height: 23px;
            margin: 0 2px;
            background-color: rgba(128, 128, 128, 0.5);
          }
          &:hover {
            i {
              color: #ffffff;
            }
            .fa-facebook-f {
              background-color: #3a69ae;
            }
            .fa-basketball-ball {
              background-color: #e14a74;
            }
            .fa-crow {
              background-color: #36bbe2;
            }
            .fa-envelope {
              background-color: #f4f4f4;
              color: #414141;
            }
            .fa-vimeo-v {
              background-color: #14beee;
            }
          }
        }
      }
      .upper-buttons {
        display: flex;
        align-items: center;
        font-size: 13px;
        color: #fff;
        font-family: Ubuntu;
        .login {
          padding: 10px;

        }
        .dropdown {
          .login {
            width: auto;
          }
          .cart {
            width: 100px;
            background-color: #cc3333;
            border: none;
            border-radius: 0 0 10px 10px;
            font-size: 13px;
            padding: 15px 15px 10px 15px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.5);
            i {
              font-size: 16px;
              padding: 5px 5px 0 0;
            }
          }
          .dropdown-menu {
            margin: 0;
            border-radius: 0;
            transform: translate3d(-250px, 39px, 0px) !important;
            .item-cart:hover {
              background-color: #eaeaea;
            }
            .dropdown-item {
              display: flex;
              justify-content: space-between;
              &:active {
                background: none;
                color: #000000;
              }
              .carts {
                display: flex;
                flex-direction: column;
                padding: 0 10px;
                .cartrow1 {
                  display: flex;
                  justify-content: space-between;
                  span{
                    font-family: Ubuntu;
                    font-size: 13px;
                  }
                  p {
                    font-family: Ubuntu;
                    font-style: italic;
                    font-size: 12px;
                    padding: 1px 20px;
                  }
                }
                .cartrow2 {
                  display: flex;
                  justify-content: space-between;
                  .star-rating {
                    font-size: 12px;
                    .active-star {
                      color: #cc3333
                    }
                    &:hover {
                      cursor: default;
                    }
                  }
                  img {
                    width: auto;
                    height: 14px;
                    padding: 0 5px;
                  }
                }
              }
              .cart-cost {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: inherit;
                p {
                  margin: 0;
                  font-family: Ubuntu;
                  font-size: 14px;
                }
                span{
                  font-family: Ubuntu;
                  font-size: 18px;
                  color: #cc3333;
                }
              }
              a {
                text-decoration: none;
                list-style: none;
                padding: 10px;
                background-color: #000000;
                color: #fff3cd;
                font-family: Ubuntu;
                font-weight: lighter;
                font-size: 12px;
                i {
                  padding: 0 0 0 10px;
                }
              }
            }
          }
        }
      }
    }
  }
  .menu {
    background-image: url(../../out/img/background.jpg);
    .menu-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 17px;
      max-width: 964px;
      margin: 0 auto;
      .logo {
        display: flex;
        align-items: center;
        cursor: default;
        img {
          width: auto;
          height: 60px;
        }
        span {
          font-family: Ubuntu;
          font-size: 30px;
          padding: 0 5px;
        }
      }
      .navbar {
        padding: 0;
        .collapse {
          .navbar-nav {
            font-family: Ubuntu;
            font-weight: 900;
            font-size: 14px;
            a {
              border-top: 4px solid transparent;
              padding: 15px 0;
              margin: 0 16px;
              color: #000000;
              &:hover {
                border-top: 4px solid #efc539;
              }
            }
          }
        }
      }
    }
  }
  #myBtn {
    display: none;
    position: fixed;
    bottom: 35px;
    right: 35px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border-radius: 10px;
  }
}